/*font*/
@font-face {
  font-family: 'ArialRegular';
  src: url("../fonts/Arial/Regular/ArialRegular.eot?v=4.6.2");
  src: url("../fonts/Arial/Regular/ArialRegular.eot?#iefix&v=4.6.2") format("embedded-opentype"), url("../fonts/Arial/Regular/ArialRegular.woff2?v=4.6.2") format("woff2"), url("../fonts/Arial/Regular/ArialRegular.woff?v=4.6.2") format("woff"), url("../fonts/Arial/Regular/ArialRegular.ttf?v=4.6.2") format("truetype"), url("../fonts/Arial/Regular/ArialRegular.svg?v=4.6.2#arialregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncodeSans-Regular';
  src: url("../fonts/EncodeSans/Regular/EncodeSans-Regular.eot?v=4.6.2");
  src: url("../fonts/EncodeSans/Regular/EncodeSans-Regular.eot?#iefix&v=4.6.2") format("embedded-opentype"), url("../fonts/EncodeSans/Regular/EncodeSans-Regular.woff2?v=4.6.2") format("woff2"), url("../fonts/EncodeSans/Regular/EncodeSans-Regular.woff?v=4.6.2") format("woff"), url("../fonts/EncodeSans/Regular/EncodeSans-Regular.ttf?v=4.6.2") format("truetype"), url("../fonts/EncodeSans/Regular/EncodeSans-Regular.svg?v=4.6.2#encodesansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Miriam';
  src: url("../fonts/Miriam/Miriam.eot?v=4.6.2");
  src: url("../fonts/Miriam/EncodeSans-Regular.eot?#iefix&v=4.6.2") format("embedded-opentype"), url("../fonts/Miriam/Miriam.woff2?v=4.6.2") format("woff2"), url("../fonts/Miriam/Miriam.woff?v=4.6.2") format("woff"), url("../fonts/Miriam/Miriam.ttf?v=4.6.2") format("truetype"), url("../fonts/Miriam/Miriam.svg?v=4.6.2#encodesansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncodeSans-Light';
  src: url("../fonts/EncodeSans/Light/EncodeSans-Light.eot?v=4.6.2");
  src: url("../fonts/EncodeSans/Light/EncodeSans-Light.eot?#iefix&v=4.6.2") format("embedded-opentype"), url("../fonts/EncodeSans/Light/EncodeSans-Light.woff2?v=4.6.2") format("woff2"), url("../fonts/EncodeSans/Light/EncodeSans-Light.woff?v=4.6.2") format("woff"), url("../fonts/EncodeSans/Light/EncodeSans-Light.ttf?v=4.6.2") format("truetype"), url("../fonts/EncodeSans/Light/EncodeSans-Light.svg?v=4.6.2#encodesanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncodeSans-SemiBold';
  src: url("../fonts/EncodeSans/SemiBold/EncodeSans-SemiBold.eot?v=4.6.2");
  src: url("../fonts/EncodeSans/SemiBold/EncodeSans-SemiBold.eot?#iefix&v=4.6.2") format("embedded-opentype"), url("../fonts/EncodeSans/SemiBold/EncodeSans-SemiBold.woff2?v=4.6.2") format("woff2"), url("../fonts/EncodeSans/SemiBold/EncodeSans-SemiBold.woff?v=4.6.2") format("woff"), url("../fonts/EncodeSans/SemiBold/EncodeSans-SemiBold.ttf?v=4.6.2") format("truetype"), url("../fonts/EncodeSans/SemiBold/EncodeSans-SemiBold.svg?v=4.6.2#encodesanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway/Regular/Raleway-Regular.eot?v=4.6.2");
  src: url("../fonts/Raleway/Regular/Raleway-Regular.eot?#iefix&v=4.6.2") format("embedded-opentype"), url("../fonts/Raleway/Regular/Raleway-Regular.woff2?v=4.6.2") format("woff2"), url("../fonts/Raleway/Regular/Raleway-Regular.woff?v=4.6.2") format("woff"), url("../fonts/Raleway/Regular/Raleway-Regular.ttf?v=4.6.2") format("truetype"), url("../fonts/Raleway/Regular/Raleway-Regular.svg?v=4.6.2#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icofont';
  src: url("../fonts/icofont/icofont.eot?sjmgnp");
  src: url("../fonts/icofont/icofont.eot?sjmgnp#iefix") format("embedded-opentype"), url("../fonts/icofont/icofont.ttf?sjmgnp") format("truetype"), url("../fonts/icofont/icofont.woff?sjmgnp") format("woff"), url("../fonts/icofont/icofont.svg?sjmgnp#icofont") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icofont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e90e";
}

.icon-park:before {
  content: "\e907";
}

.icon-tire:before {
  content: "\e909";
}

.icon-service:before {
  content: "\e90a";
}

.icon-truck1:before {
  content: "\e994";
}

.icon-truck2:before {
  content: "\e995";
}

.icon-truck3:before {
  content: "\e996";
}

.icon-truck4:before {
  content: "\e997";
}

.icon-truck5:before {
  content: "\e998";
}

.icon-cart:before {
  content: "\e904";
}

.icon-user:before {
  content: "\e906";
}

.icon-login:before {
  content: "\e910";
}

.icon-menu:before {
  content: "\e914";
}

.icon-down-arrow2:before {
  content: "\e90b";
}

.icon-facebook:before {
  content: "\e90c";
}

.icon-search:before {
  content: "\e908";
}

.icon-twitter:before {
  content: "\e90f";
}

.icon-cancel:before {
  content: "\e905";
}

.icon-linkedin:before {
  content: "\e90d";
}

.icon-down-arrow:before {
  content: "\e900";
}

.icon-left-arrow:before {
  content: "\e901";
}

.icon-right-arrow:before {
  content: "\e902";
}

.icon-up-arrow:before {
  content: "\e903";
}

/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  outline: none;
  box-sizing: border-box;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: bottom;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  transition: background .3s, color .3s;
}

h1, figure, fieldset {
  margin: 0;
  padding: 0;
}

input, select, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}
input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  outline: 0;
}

fieldset {
  border: none;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body, html {
  width: 100%;
  height: 100%;
  line-height: 1;
  background-color: #ffffff;
  background: #ffffff;
  font-family: EncodeSans-Regular, sans-serif;
  color: #363940;
}

html {
  font-size: 100%;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  padding: 0;
  background: transparent;
}
button:focus, button:active {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

p {
  line-height: 1.5;
}

.wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-size: 1rem;
}

.content {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  width: 85%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/*===================HEADER===================*/
header {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 100%;
  z-index: 7;
  position: fixed;
}
@media (max-width: 767px) {
  header {
    position: absolute;
    background: black;
  }
}

.nav-header-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*Logo*/
.navbar-logo {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  display: block;
  background: #eb2227;
  width: 90px;
}

.navbar-logo-img {
  width: 90px;
}

/*Menu*/
nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-transform: uppercase;
  color: #ffffff;
  font-family: EncodeSans-SemiBold;
}
@media (min-width: 768px) {
  nav {
    margin-left: 20px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}

.menu-item {
  color: #ffffff;
  font-family: EncodeSans-SemiBold;
  font-size: 1.125rem;
}

.menu-item-link:hover {
  color: #eb2227;
}

.nav-btn-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}
@media (min-width: 768px) {
  .nav-btn-wrap {
    display: none;
  }
}

.nav-btn {
  height: 60px;
  width: 60px;
  font-size: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  color: #ffffff;
}
.nav-btn::after {
  content: '\e914';
  font-family: icofont;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12.5px;
  margin-left: -12.5px;
}

.nav-btn-open::after {
  content: '\e914';
}

.nav-btn-close::after {
  content: '\e905';
}

.nav-bar-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .site-menu li {
    margin-right: 25px;
  }
}
@media (max-width: 767px) {
  .site-menu {
    display: none;
  }
}

.profile-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile-menu .profile-menu-item:first-child {
  margin-right: 25px;
}
.profile-menu .profile-menu-item .profile-ico {
  margin-right: 5px;
}
@media (max-width: 767px) {
  .profile-menu .profile-menu-item .profile-text {
    display: none;
  }
}
.profile-menu .profile-menu-item .profile-menu-item-link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  transition: all .1s;
}
@media (max-width: 767px) {
  .profile-menu .profile-menu-item .profile-menu-item-link {
    font-size: 20px;
  }
}
.profile-menu .profile-menu-item:hover .profile-menu-item-link {
  transition: all .1s;
}

.mob-nav-menu {
  position: fixed;
  padding: 10px 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #000000;
  -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
          transform: translateY(-150%);
}
.mob-nav-menu .menu-item {
  font-size: 1.875rem;
}

.mob-menu {
  background: #000000;
  height: 80vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-language {
  position: relative;
  padding: 0 25px;
  margin-left: 25px;
}
.navbar-language::before {
  content: '';
  color: #ffffff;
  position: absolute;
  height: 150%;
  width: 1px;
  background: #ffffff;
  left: 0;
  top: -25%;
}
.navbar-language::after {
  content: '\e90b';
  font-family: icofont;
  font-size: 0.875rem;
  color: #ffffff;
  position: absolute;
  top: 2.5px;
  right: 0;
  transition: all .35s;
}
.navbar-language:hover::after {
  transition: all .4s;
  color: #eb2227;
}
.navbar-language p {
  line-height: 0;
}
.navbar-language .language-list .language-item:not(.active-language) {
  display: none;
}
.navbar-language .navbar-language-link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  transition: all .1s;
}
.navbar-language .navbar-language-link:hover {
  transition: all .1s;
}
.navbar-language .navbar-language-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
@media (max-width: 991px) {
  .navbar-language {
    display: none;
  }
}

@-webkit-keyframes fadeInOutLogo {
  0% {
    width: 70px;
  }
  100% {
    width: 60px;
  }
}

@keyframes fadeInOutLogo {
  0% {
    width: 70px;
  }
  100% {
    width: 60px;
  }
}
/*===================CONTENT===================*/
main {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: auto;
}

/*Common styles*/
.button-container {
  text-align: center;
  padding-top: 40px;
}

.btn {
  font-size: 1rem;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.btn-link {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  display: inline-block;
  color: #eb2227;
  transition: all .3s;
}
.btn-link::after {
  content: '\e902';
  position: absolute;
  font-family: icofont;
  margin-left: 0.5rem;
}
.btn-link:hover {
  text-decoration: underline;
  transition: all .3s;
}
.btn-link:hover::after {
  margin-left: 0.8125rem;
  transition: all .3s;
}

h2 {
  font-family: EncodeSans-SemiBold;
  text-align: center;
  font-size: 1.75rem;
  font-weight: normal;
  padding-bottom: 3rem;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  h2 {
    line-height: 1.5;
  }
}

h3 {
  text-align: center;
  padding-bottom: 1.5rem;
}

.light-title {
  color: #ffffff;
}

.dark-title {
  color: #19232D;
}

/*Intro banner*/
.intro-section {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  height: 70vh;
  min-height: 480px;
  position: relative;
  padding-bottom: 0;
  z-index: 1;
}
.intro-section::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 2;
}
@media (max-width: 767px) {
  .intro-section {
    font-size: 90%;
  }
}

.bg-categories {
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  transition: all .3s ease-in-out;
}

.bg-ctgr1 {
  background-image: url(../images/bg_1.jpg);
}

.bg-ctgr2 {
  background-image: url(../images/bg_2.jpg);
}

.bg-ctgr3 {
  background-image: url(../images/bg_3.jpg);
}

.bg-ctgr4 {
  background-image: url(../images/bg_4.jpg);
}

.bg-ctgr5 {
  background-image: url(../images/bg_5.jpg);
}

.intro-text {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}
.intro-text .intro-title {
  font-size: 2.25rem;
  font-weight: normal;
}
@media (max-width: 767px) {
  .intro-text .intro-title {
    font-size: 1.875rem;
  }
}
.intro-text .intro-message {
  font-size: 1.5rem;
  font-family: EncodeSans-Light;
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .intro-text .intro-message {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .intro-text .intro-message {
    font-size: 1.125rem;
  }
}

.intro-btn {
  background: #eb2227;
  text-transform: uppercase;
  color: #ffffff;
}
.intro-btn:hover {
  text-decoration: none;
  background: #d01e21;
}
@media (max-width: 767px) {
  .intro-btn {
    display: none;
  }
}

/*Categories*/
.categories-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  position: relative;
  padding: 40px 0;
}
@media (max-width: 767px) {
  .categories-section {
    padding: 20px;
  }
}

.categories-content-wrap {
  width: 100%;
}

.mob-categories-btn {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: EncodeSans-SemiBold;
  padding: 15px;
  width: 100%;
  text-align: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}
.mob-categories-btn::after {
  content: '\e900';
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  right: 10px;
  font-family: icofont;
  transition: all .3s;
}
.mob-categories-btn.mob-categories-btn-active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  transition: all .3s;
}
@media (min-width: 992px) {
  .mob-categories-btn {
    display: none;
  }
}

.categories-nav-wrap {
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 0;
  margin-top: -70px;
  z-index: 3;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width: 992px) and (max-width: 1199px) {
  .categories-nav-wrap {
    margin-top: -88px;
  }
}

.categories-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
}
@media (max-width: 991px) {
  .categories-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px;
    width: 100%;
    height: 100%;
    min-height: 350px;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-transform: translateY(-250%);
        -ms-transform: translateY(-250%);
            transform: translateY(-250%);
    background: rgba(0, 0, 0, 0.8);
  }
}

.opened-categories-nav {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.categories-nav-item {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: EncodeSans-SemiBold;
  overflow: hidden;
}
.categories-nav-item .categories-nav-link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: all .1s;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 15px 30px;
}
@media (max-width: 991px) {
  .categories-nav-item .categories-nav-link {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.categories-nav-item:hover .categories-nav-link {
  color: #eb2227;
}
@media (max-width: 991px) {
  .categories-nav-item {
    padding: 10px;
    width: 100%;
    background: #000000;
  }
}
.categories-nav-item.active .categories-nav-link {
  color: #eb2227;
}
@media (min-width: 992px) {
  .categories-nav-item.active .categories-nav-link {
    background: #ffffff;
  }
  .categories-nav-item.active .categories-nav-link::after {
    left: 0;
    transition: all ease-out .3s;
  }
}

.categories-ico {
  font-size: 2.5rem;
  margin-right: 0.85rem;
}

.categories-tab-pane {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
@media (max-width: 991px) {
  .categories-tab-pane {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.categories-tab-content .fade {
  display: none;
}
.categories-tab-content .active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.brands-description {
  line-height: 1.75;
}
@media (max-width: 991px) {
  .brands-description {
    padding-bottom: 20px;
    display: none;
  }
}
@media (min-width: 992px) {
  .brands-description {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 40px;
  }
}
.brands-description .brands-description-title {
  font-family: EncodeSans-SemiBold;
  font-size: 1.125rem;
  padding-bottom: 1rem;
}

.brands-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}
@media (min-width: 992px) {
  .brands-list {
    -webkit-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
}

.brands-item {
  width: 25%;
  padding: 0 15px 15px;
}
@media (max-width: 1023px) {
  .brands-item {
    width: 33.3333%;
  }
}
@media (max-width: 440px) {
  .brands-item {
    width: 50%;
  }
}

.all-brands-link {
  text-align: right;
}

/*Login*/
.wrapper .access-section {
  padding: 30px 0;
}

.access-section {
  background: url(../images/bg-login-h.jpg) no-repeat center 55%/cover;
  background-size: cover;
}

.access {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}
@media (max-width: 1023px) {
  .access {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    border-width: 10px;
    text-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1023px) {
  .login-area {
    padding-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .login-area {
    padding-bottom: 30px;
  }
}

.sign-in-title {
  color: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1024px) {
  .sign-in-title {
    width: 70%;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.sign-in-title .sign-in-ico {
  font-size: 2.8125rem;
}
@media (min-width: 1024px) {
  .sign-in-title .sign-in-ico {
    padding-right: 20px;
  }
}
.sign-in-title .sign-in-headline {
  font-size: 1.4375rem;
  font-family: EncodeSans-SemiBold;
  text-transform: uppercase;
  color: #eb2227;
  line-height: 1;
}

.sign-in-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 40px 20px 0;
}
@media (max-width: 1023px) {
  .sign-in-form {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
    max-width: 370px;
    margin: 0 auto;
  }
}

.input-field {
  width: 100%;
  height: 45px;
  border: none;
  outline: 0;
  padding: 0 .5rem;
  color: #000000;
  font-size: 1rem;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .input-field {
    width: 270px;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.btn-login {
  font-family: EncodeSans-SemiBold;
  padding: 0 5rem;
  height: 45px;
  background: #eb2227;
}
.btn-login:hover {
  background: #d01e21;
}
@media (max-width: 1023px) {
  .btn-login {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sign-in-connection {
  font-size: 0.875rem;
  color: #ffffff;
}

.connection-link {
  text-decoration: underline;
}
@media (max-width: 1023px) {
  .connection-link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.connection-link:hover {
  color: #eb2227;
}

.registration-area {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  color: #000000;
  padding: 15px;
  max-width: 350px;
}
@media (min-width: 1024px) {
  .registration-area {
    width: 30%;
  }
}

.registration-desc-info {
  font-size: 1.125rem;
  padding-bottom: 5px;
}

.btn-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-role {
  transition: all 0.5s;
  position: relative;
  max-width: 200px;
}

.btn-regist {
  border: 2px solid #eb2227;
  padding: 0.65rem 1rem;
  margin: 20px  0;
  text-align: center;
  color: #eb2227;
  font-family: EncodeSans-SemiBold;
}
.btn-regist:hover {
  background: #d01e21;
  border-color: #d01e21;
  color: #ffffff;
}

.btn-guest {
  text-decoration: underline;
  font-size: 0.875rem;
}
.btn-guest:hover {
  color: #eb2227;
}

.btn-role:hover::before {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

/*Promotions*/
.promotions-section {
  background: #19232D;
}
@media (max-width: 992px) {
  .promotions-section li {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .promotions-section li:not(:last-child) {
    padding-bottom: 2rem;
  }
}

.promotions-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.promotions-preview {
  width: 270px;
  height: 370px;
  text-align: center;
  background: #000000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  transition: box-shadow .1s,  -webkit-transform .1s;
  transition: transform .1s,  box-shadow .1s;
  transition: transform .1s,  box-shadow .1s,  -webkit-transform .1s;
}
.promotions-preview figcaption {
  background: #ffffff;
  padding: 20px 10px;
  border-bottom: 2px #eb2227 solid;
  height: 45%;
}
.promotions-preview .promo-title {
  color: #eb2227;
  font-size: 0.9375rem;
  text-transform: uppercase;
  height: 45px;
  padding-bottom: 5px;
}
.promotions-preview .promo-text {
  font-size: 0.875rem;
  text-align: left;
}
.promotions-preview img {
  height: 100%;
}
.promotions-preview .promo-img-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55%;
  text-align: center;
  position: relative;
}
.promotions-preview .promo-img-wrap .action-mark {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: #ffffff;
  background: #eb2227;
  font-size: 22px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
  z-index: 3;
  overflow: hidden;
  -webkit-animation: pulse 1s ease infinite both alternate;
          animation: pulse 1s ease infinite both alternate;
}
.promotions-preview .promo-img-wrap .action-mark::after {
  content: '';
  display: block;
  background: transparent linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat;
  right: 130%;
  top: -10px;
  height: 155px;
  -webkit-transform: rotate(-10deg) skewX(-50deg);
      -ms-transform: rotate(-10deg) skewX(-50deg);
          transform: rotate(-10deg) skewX(-50deg);
  width: 60%;
  position: absolute;
  z-index: -1;
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
}
.promotions-preview .promo-img-wrap img {
  max-width: initial;
}
.promotions-preview .promo-img-full {
  height: 100%;
}
.promotions-preview .promo-img-full img {
  max-width: 100%;
}
.promotions-preview:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
  transition: box-shadow .1s,  -webkit-transform .1s;
  transition: transform .1s,  box-shadow .1s;
  transition: transform .1s,  box-shadow .1s,  -webkit-transform .1s;
}
.promotions-preview:hover .action-mark {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.promotions-preview:hover .action-mark::after {
  right: -250%;
  top: 70px;
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
}

/*Advantages*/
.advantages-section {
  background: #f1f2f3;
  overflow: hidden;
  padding: 60px 0;
}
@media (max-width: 767px) {
  .advantages-section {
    padding: 30px 0;
  }
}

.advantages-list {
  margin: 0 -1rem;
}
@media (min-width: 768px) {
  .advantages-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.advantages-item {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  padding: 0 1rem;
}
@media (max-width: 767px) {
  .advantages-item:not(:last-child) {
    padding-bottom: 2rem;
  }
}

.advantages-thumb {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .advantages-thumb {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.advantages-ico {
  font-size: 3.125rem;
  padding-right: 1.25rem;
  color: #19232D;
}
@media (max-width: 767px) {
  .advantages-ico {
    text-align: center;
    padding-bottom: 0.5rem;
    padding-right: 0;
  }
}

.advantages-title {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  color: #eb2227;
}
@media (max-width: 767px) {
  .advantages-title {
    text-align: center;
  }
}

/*About*/
.about-section {
  background: #ffffff;
  padding: 60px 0;
}
@media (max-width: 767px) {
  .about-section {
    padding: 30px 0;
  }
}

.about-content {
  color: #000000;
  font-size: 1.125rem;
}
.about-content p:last-child {
  padding-bottom: 0;
}
.about-content .about-text-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
@media (max-width: 768px) {
  .about-content .about-text-wrap {
    display: block;
  }
}
.about-content .about-text-block {
  padding: 15px;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.about-content p {
  line-height: 1.75;
  padding-bottom: 10px;
}

.about-slogan {
  text-align: center;
  padding-top: 25px;
}
.about-slogan .special-text {
  font-size: 1.5625rem;
  font-family: 'Miriam';
  font-style: italic;
  color: #eb2227;
}

/*===================FOOTER===================*/
footer {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #000000;
  font-size: 0.875rem;
  color: #ffffff;
}
footer a:hover {
  color: #eb2227;
}

.footer-wrap {
  position: relative;
}

.main-footer {
  padding: 40px 0;
}
@media (max-width: 767px) {
  .main-footer {
    padding: 20px 0;
  }
}

.footer-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .footer-menu {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .footer-menu-item:last-child {
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .footer-menu-item {
    width: 25%;
    padding-right: 15px;
  }
}
@media (max-width: 768px) {
  .footer-menu-item:not(:last-child) {
    display: none;
  }
}
.footer-menu-item li {
  margin-top: 10px;
}
.footer-menu-item:last-child {
  position: relative;
}
.footer-menu-item:last-child::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 130%;
  background: #eb2227;
  left: -15px;
  top: -15%;
}
@media (max-width: 768px) {
  .footer-menu-item:last-child::after {
    display: none;
  }
}

.social {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .social {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.social .social-item:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .social .social-item:not(:last-child) {
    margin-right: 0;
  }
}
.social .social-item .social-link {
  display: block;
  border-radius: 50%;
  background: #ffffff;
  padding: 10px;
  color: #000000;
  transition: all .3s;
}
.social .social-item .social-link:hover {
  transition: all .3s;
  background: #eb2227;
}
.social .social-item .social-ico {
  font-size: 20px;
}

.footer-menu-item-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.sub-footer {
  color: white;
}
@media (max-width: 767px) {
  .sub-footer {
    padding: 10px 0 20px;
  }
}
@media (min-width: 769px) {
  .sub-footer {
    width: 75%;
    padding-right: 30px;
    bottom: 12%;
    position: absolute;
  }
}

@media (min-width: 768px) {
  .sub-footer-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .terms {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.terms-link {
  display: block;
}
@media (max-width: 767px) {
  .terms-link {
    padding-top: 15px;
  }
}
@media (min-width: 768px) {
  .terms-link {
    margin-left: 25px;
  }
}

/*common active states*/
.open {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.overlay {
  overflow: hidden;
}

@-webkit-keyframes openTo {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
    margin-bottom: 25px;
  }
}

@keyframes openTo {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
    margin-bottom: 25px;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*preloader*/
@-webkit-keyframes mainAnimation {
  0% {
    width: 50px;
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  20% {
    width: 50px;
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  40% {
    width: 150px;
    -webkit-transform: translateX(-50px) translateY(0px) rotate(0deg);
            transform: translateX(-50px) translateY(0px) rotate(0deg);
  }
  60% {
    width: 150px;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: translateX(-150px) translateY(0px) rotate(90deg);
            transform: translateX(-150px) translateY(0px) rotate(90deg);
  }
  80% {
    width: 50px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(90deg);
            transform: translateX(-25px) translateY(0px) rotate(90deg);
  }
  100% {
    width: 50px;
    -webkit-transform: translateX(-50px) translateY(0px) rotate(90deg);
            transform: translateX(-50px) translateY(0px) rotate(90deg);
  }
}
@keyframes mainAnimation {
  0% {
    width: 50px;
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  20% {
    width: 50px;
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  40% {
    width: 150px;
    -webkit-transform: translateX(-50px) translateY(0px) rotate(0deg);
            transform: translateX(-50px) translateY(0px) rotate(0deg);
  }
  60% {
    width: 150px;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: translateX(-150px) translateY(0px) rotate(90deg);
            transform: translateX(-150px) translateY(0px) rotate(90deg);
  }
  80% {
    width: 50px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(90deg);
            transform: translateX(-25px) translateY(0px) rotate(90deg);
  }
  100% {
    width: 50px;
    -webkit-transform: translateX(-50px) translateY(0px) rotate(90deg);
            transform: translateX(-50px) translateY(0px) rotate(90deg);
  }
}
@-webkit-keyframes secundaryAnimation {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(180deg);
            transform: translateX(0px) translateY(0px) rotate(180deg);
  }
  40% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(180deg);
            transform: translateX(0px) translateY(0px) rotate(180deg);
  }
  60% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(180deg);
            transform: translateX(0px) translateY(0px) rotate(180deg);
  }
}
@keyframes secundaryAnimation {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(180deg);
            transform: translateX(0px) translateY(0px) rotate(180deg);
  }
  40% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(180deg);
            transform: translateX(0px) translateY(0px) rotate(180deg);
  }
  60% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(180deg);
            transform: translateX(0px) translateY(0px) rotate(180deg);
  }
}
@-webkit-keyframes shadowAnimation {
  0% {
    width: 150px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(0deg);
            transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
  20% {
    width: 75px;
    -webkit-transform: translateX(37.5px) translateY(0px) rotate(0deg);
            transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  40% {
    width: 200px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(0deg);
            transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
  60% {
    width: 75px;
    -webkit-transform: translateX(37.5px) translateY(0px) rotate(0deg);
            transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  80% {
    width: 75px;
    -webkit-transform: translateX(37.5px) translateY(0px) rotate(0deg);
            transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  100% {
    width: 150px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(0deg);
            transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
}
@keyframes shadowAnimation {
  0% {
    width: 150px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(0deg);
            transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
  20% {
    width: 75px;
    -webkit-transform: translateX(37.5px) translateY(0px) rotate(0deg);
            transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  40% {
    width: 200px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(0deg);
            transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
  60% {
    width: 75px;
    -webkit-transform: translateX(37.5px) translateY(0px) rotate(0deg);
            transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  80% {
    width: 75px;
    -webkit-transform: translateX(37.5px) translateY(0px) rotate(0deg);
            transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  100% {
    width: 150px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(0deg);
            transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
}
@-webkit-keyframes float {
  0% {
    top: 50%;
  }
  50% {
    top: 51%;
  }
  100% {
    top: 50%;
  }
}
@keyframes float {
  0% {
    top: 50%;
  }
  50% {
    top: 51%;
  }
  100% {
    top: 50%;
  }
}
.loader-box {
  position: fixed;
  z-index: 100;
  background: #ffffff;
  height: 100%;
  width: 100%;
}

.loader {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  background-color: #eb2227;
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
      -ms-transform: translateX(0px) translateY(0px) rotate(0deg);
          transform: translateX(0px) translateY(0px) rotate(0deg);
  -webkit-animation: mainAnimation 2.6s ease 0s infinite forwards;
          animation: mainAnimation 2.6s ease 0s infinite forwards;
  z-index: 200;
}
.loader:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: -50px;
  background-color: #eb2227;
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
      -ms-transform: translateX(0px) translateY(0px) rotate(0deg);
          transform: translateX(0px) translateY(0px) rotate(0deg);
  -webkit-animation: secundaryAnimation 2.6s ease 0s infinite forwards;
          animation: secundaryAnimation 2.6s ease 0s infinite forwards;
}
